
CrocodileApp.xcodeproj/xcuserdata/aleksandrslyhovskij.xcuserdatad/xcschemes/xcschememanagement.plist
CrocodileApp.xcodeproj/project.xcworkspace/xcuserdata/aleksandrslyhovskij.xcuserdatad/UserInterfaceState.xcuserstate
CrocodileApp/Resources/Assets.xcassets/.DS_Store
CrocodileApp/Resources/.DS_Store
